* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

html {
  background-color: #222;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* your CSS below! */
